*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  margin-bottom: 0 !important;
}
.cardHighlight {
  min-height: 100%;
}
.navi-1 {
  background-color: black !important;
}
.form-reg, .form-login {
  padding: 2rem;
  margin: 2rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.navBar {
  color: #eeeeee !important;
}
.navBar:hover {
  color: rgb(64, 178, 231) !important;
}
.profile {
  background: black;
  border-radius: 1rem !important;

}
.reg-course{
  margin: 2rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 0 2rem;
}
.admin-dashboard {
  margin: 2rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 0 2rem;
}
.dropdown-nav {
  background-color: #666666;
}
#basic-nav-dropdown {
  color: #eeeeee;
}
.dropdown-item, .dropdown-item.active {
  color: #eeeeee !important;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.navbar-expand .navbar-nav .dropdown-menu {
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.dropdown-val-item:hover {
  background-color: #eeeeee !important;
  color: black !important;
}
.pageNotFound > h1 {
  font-size: 10rem;
}
.pageNotFound {
  text-align: justify;
}
.custom-dropdown .dropdown-menu {
  left: auto !important;
  right: 0 !important;
}
.custom-dropdown .dropdown-menu {
  left: 0 !important;
  right: right !important;
}
.img-hero {
  position: relative;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 5px;
  padding: 1rem;
}
.overlay-text {
  font-size: 1.2rem;
  font-weight: 600;
}


.catalog-product {
    min-height: 100%;
}
.catalog-product-mobile, .catalog-product-pc, .catalog-product-tablet, .catalog-product-watch, .catalog-product-accessories, .catalog-product-airpods {
  text-decoration: none !important;
  font-weight: 500;
  font-size: 1.5rem !important;
  text-decoration: underline !important;
  color: rgb(64, 178, 231) !important;
}
.catalog-product-mobile:hover, .catalog-product-pc:hover, .catalog-product-tablet:hover, .catalog-product-watch:hover, .catalog-product-accessories:hover, .catalog-product-airpods:hover{
  cursor: pointer !important;
  
}
.diagonal-text {
  transform: rotate(30deg);
  transform-origin: 100% 100%;
  font-weight: 700;
}
.order-view{
 margin: 0 !important;
 padding: auto;
}
Button .button-purchase {
  height: auto !important;
  padding: 0 !important;
}
.custom-modal .modal-header .close {
  color: rgb(255, 0, 0);
}
div .font-italic {
  font-style: italic !important;
}
.homeDate {
  font-size: 10px;
}
.border-1 {
  border: 2px solid gray;
  border-radius: 20px;
  margin: 2rem;
  padding: 0 1rem;
}
.form-groups{
  max-width: 800px;
  padding: 0 15px;
  margin: auto;
}

.field-holder {
  position: relative;
  margin-bottom: 1.25em;
}
.form-text {
  border: 0;
  border-bottom: 3px solid #dfdfdf;
  outline: none;
  width: 250px;
}
.form-labels {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  color: #424242;
  display: flex;
  align-items: center;
  cursor: text;
  transition: .3s ease-in-out;
  
}
.form-text, .form-labels {
  font-size: 1em;
  height: 55px;
}
.form-text:focus + .form-labels,
.form-text:valid + .form-labels{
  color: #424242;
  font-size: 1em;
  top: -25px;
  pointer-events: none;
}
.form-text:focus,
.form-text:valid {
  border-bottom: 3px solid #424242;
}

.loading {
  animation: moveText 2s infinite alternate;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px); /* Adjust the distance you want to move */
  }
}

.catalog-header {
  display: flex;
  align-items: center;
}


@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.wave-animation {
  animation: wave 1s infinite;
}
